############################
# Unity generated folders
############################
Platformer/[Ll]ibrary/
Platformer/[Tt]emp/
Platformer/[Oo]bj/
Platformer/[Bb]uild/
Platformer/[Bb]uilds/
Platformer/[Ll]ogs/
Platformer/[Uu]ser[Ss]ettings/

############################
# Unity caches
############################
Platformer/**/[Mm]emoryCaptures/
Platformer/**/[Rr]ecordings/

############################
# IDE / OS junk
############################
.vs/
.gradle/
.consulo/
.DS_Store
Thumbs.db
.utmp/

############################
# IDE project files
############################
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

############################
# Unity crash & logs
############################
*.log
sysinfo.txt
mono_crash.*

############################
# Builds
############################
*.apk
*.aab
*.unitypackage
*.app

############################
# Addressables (generated)
############################
Platformer/ServerData
Platformer/Assets/StreamingAssets/aa*
Platformer/Assets/AddressableAssetsData/*
Platformer/Assets/Addressables_Temp*

############################
# Visual Scripting (generated)
############################
Platformer/Assets/Unity.VisualScripting.Generated/

############################
# Test Runner
############################
Platformer/Assets/InitTestScene*.unity*

############################
# Blender temp files
############################
*.blend1


############################
# Local clone folders
############################
Platformer_clone_*/